body
{
	background-color: pink;
}
h1
{
	font-size: xx-large;
	font-family: verdana;
	text-align: center;

}
.sacapuces
{
	display: list-item;
	list-style-image:url(http://www.stickpng.com/assets/images/5845e13e7733c3558233c0ec.png);
	list-style-image: 5%;
	list-style-position: inside;
	max-width: 5%;
	max-height: auto;
}
.cathead2
{
	float: right;
	max-width: 5%;
	max-height: auto;
}

div
{
	margin-top: 80px;
	text-align:justify-all;
	text-align: left;
	font-family: verdana;
}
